<h1 class="text-center">Profile</h1>

<nav class="navbar navbar-dark bg-dark nav-fill nav-justified">
  
  <span class="navbar-brand" style="color:rgb(255, 165, 0)">Comic Commit</span>
  <a class="nav-link" href="profile">Profile</a>
  <a class="nav-link" href="discover">Discover</a>
  <a class="nav-link" href="#">Review</a>
  <a class="nav-link" href="posts">Forum</a>
  <%= form_with url: user_search_path, method: :get, local: true do |form| %>
    <div class="input-group">  
      <%= search_field_tag :search, params[:search], placeholder: "Search for Users", class: "form-control" %>  
      <div class="input-group-btn">  
        <%= button_tag "Search", :class => 'btn btn-info glyphicon glyphicon-search',:name => nil%>  
      </div>  
    </div>
  <%end%>

  <div class="dropdown">
    <a class="nav-link dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <%= notify.count%><i class="fa fa-bell"></i>
    </a>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
      <% notify.each do |notification| %>
        <%= button_to notification.message, read_path(id: notification.id), {class:'dropdown-item'}  %>
      <% end %>
    </div>
  </div>
  
  <div class="dropdown">
    <a class="nav-link dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <%= current_user.username %>
    </a>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
      <% if current_user.group=='admin' %>
        <a class="dropdown-item" href="promote">Requests</a>
      <% elsif current_user.group=='creator' %>
          <a class="dropdown-item" href="comic">Comic</a>
      <% elsif current_user.group=='critic' %>
          <a class="dropdown-item" href="review">Review</a>
      <% else %>  
        <a class="dropdown-item" href="upgrade">Upgrade</a>
      <% end %>
      <a class="dropdown-item" href="setting">Setting</a>
    </div>
  </div>

  <%= button_to "Logout", destroy_path, {class:'btn btn-danger'}  %>
</nav>

<% if !current_user.bio.present?%>

  <div class="container">
   <div class="row justify-content-center">
      <%= form_with url: change_bio_path, method: :post, local: true do |form| %>

         <div class="form-group">
            <h4 class="text-center"><%= form.label :bio, "Add a Bio to Tell Users About Yourself" %></h4>
            <%= form.text_area :bio, size: '60x5' %>
         </div>

         <div class="text-center">
            <%= form.submit "Add" %><br>
         </div>

      <% end %>
    </div>
  </div>

<% else %>

  <div class="container" >
    <h4 class="text-center">Bio</h4>
    <div class="row justify-content-center">
      <p class="border border-secondary text-break text-center" style="width: 20rem;" ><%= current_user.bio %></p>
    </div>
  </div>

<% end %>

<% if current_user.group=='creator' %>
  
  <div class="container">
    <h4 class="text-center">Your Comics</h4>
    <div class="row justify-content-center">
      <% comics.each do |comic| %>
        <div class = "btn-group row justify-content-center">
          <table class="border border-dark" style="width:50%">
            <tr>
              <td class="text-center">Comic Name: <%= comic.title %></td>
            </tr>
            <tr>
              <td><%= image_tag(comic.cover_file, size: "600x500") %></td>
            </tr>
          </table>
          <div class = "btn-group row justify-content-center" role="group" style="width:50%">
            <%= button_to 'View ', view_comic_path, method: :get, params: { title: comic.title } %>
            <%= button_to 'Edit ', edit_comic_path, params: { id: comic.id } %>
            <%= button_to 'Delete', delete_comic_path, params: { id: comic.id } %>
          <div>
        </div>
      <% end %>
    </div>
  </div>

<% elsif current_user.group=='critic'%>
  
  <h4 class="text-center">Your Reviews</h4>

<% end %>
