<h1 class="text-center">Request to Upgrade your account</h1>

<div class="container">
<div class="row justify-content-center">

<%= form_with model: request, url: new_request_path, method: :post, local: true, scope: :request do |form| %>
    
   <% invalid = request.errors.include?(:acc_type) %>
   <div class="text-center <%= 'has-danger' if invalid %>">
      <p>What type of account you are requesting?</p>
      <%= form.radio_button :acc_type, 'creator' %>
      <%= form.label :type_creator, "Creator" %>
      <%= form.radio_button :acc_type, 'critic' %>
      <%= form.label :type_critic, "Critic" %>
      <%= form.radio_button :acc_type, 'admin' %>
      <%= form.label :type_admin, "Admin" %>
      <% if invalid %>
         <div class="small">
            <% request.errors.full_messages_for(:acc_type).each do |error_message|%>
               <%= error_message %>
            <% end %>
         </div>
      <% end %>
   </div> 

   <% invalid = request.errors.include?(:resaon) %>
   <div class="form-group">  
      <p class="text-center"><%= form.label :resaon %><p>
      <%= form.text_area :resaon, size: '60x5', class: "form-control #{'border-danger' if invalid}" %>
      <% if invalid %>
         <div class="small">
            <% request.errors.full_messages_for(:resaon).each do |error_message|%>
               <%= error_message %>
            <% end %>
         </div>
      <% end %>
   </div>

   <div class="text-center">
        <%= form.submit "Request" %><br>
        <%= link_to "Go Back", profile_path %>
   </div>
<% end %>
</div>
</div>
