<h1 class="text-center">Create Comic</h1>
<nav class="navbar navbar-dark bg-dark nav-fill nav-justified">
    <span class="navbar-brand" style="color:rgb(255, 165, 0)">Comic Commit</span>
    <a class="nav-link" href="profile">Profile</a>
    <a class="nav-link" href="discover">Discover</a>
    <a class="nav-link" href="#">Review</a>
    <a class="nav-link" href="#">Forum</a>
    <%= form_with url: user_search_path, method: :get, local: true do |form| %>
        <div class="input-group">  
            <%= search_field_tag :search, params[:search], placeholder: "Search for Users", class: "form-control" %>  
            <div class="input-group-btn">  
                <%= button_tag "Search", :class => 'btn btn-info glyphicon glyphicon-search',:name => nil%>  
            </div>  
        </div>
    <%end%>

    <div class="dropdown">
        <a class="nav-link dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <%= notify.count%><i class="fa fa-bell"></i>
        </a>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <% notify.each do |notification| %>
            <%= button_to notification.message, read_path(id: notification.id), {class:'dropdown-item'}  %>
            <% end %>
        </div>
    </div>

    <div class="dropdown">
      <a class="nav-link dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <%= current_user.username %>
      </a>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
        <% if current_user.group=='admin' %>
          <a class="dropdown-item" href="promote">Requests</a>
        <% elsif current_user.group=='creator' %>
            <a class="dropdown-item" href="comic">Comic</a>
        <% elsif current_user.group=='critic' %>
            <a class="dropdown-item" href="#">Review</a>
        <% else %>  
          <a class="dropdown-item" href="upgrade">Upgrade</a>
        <% end %>
        <a class="dropdown-item" href="setting">Setting</a>
      </div>
    </div>
    <%= button_to "Logout", destroy_path, {class:'btn btn-danger'}  %>
</nav>

<div class="container">
   <div class="row justify-content-center">
        <%= form_with model: comic, url: set_comic_path, method: :post, local: true, scope: :comic do |form| %>

            <% invalid = comic.errors.include?(:genre) %>
            <div class="text-center <%= 'has-danger' if invalid %>">
                <h4>Genre</h4>
                <%= form.select :genre, [ 'Superhero', 'Western', 'Humor', 'Non-ficton', 'Fantasy', 'Horror', 'Other' ], :prompt => 'Select a Genre' %><br>
                <% if invalid %>
                    <div class="small">
                        <% comic.errors.full_messages_for(:genre).each do |error_message|%>
                            <%= error_message %>
                        <% end %>
                    </div>
                <% end %>
            </div>

            <% invalid = comic.errors.include?(:category) %>
            <div class="text-center <%= 'has-danger' if invalid %>">
                <h4>Is this comic a part of a series or one-shot</h4>
                <div class="form-check form-check-inline">
                    <%= form.radio_button :category, 'series' %>
                    <%= form.label :type_series, "Series" %>
                </div>
                <div class="form-check form-check-inline">
                    <%= form.radio_button :category, 'one-shot' %>
                    <%= form.label :type_one_shot, " One-Shot" %><br>
                </div>
                <div id="series">
                    <h4>Series Name</h4>
                    <%= form.text_field :series_name %><br>
                    <h4>Does this Series already Exist</h4>
                    <%= form.radio_button :series_answer, 'yes' %>
                    <%= form.label :answer_yes, "Yes" %>
                    <%= form.radio_button :series_answer, 'no' %>
                    <%= form.label :answer_no, "No" %><br>
                    <h4>Isbn</h4>
                    <%= form.text_field :isbn %><br>
                </div>
                <% if invalid %>
                    <div class="small">
                        <% comic.errors.full_messages_for(:category).each do |error_message|%>
                            <%= error_message %>
                        <% end %>
                    </div>
                <% end %>
            </div>   
            
            <% invalid = comic.errors.include?(:title) %>
            <div id= "one_shot" class="text-center <%= 'has-danger' if invalid %>">
                <h4>Title</h4>
                <%= form.text_field :title %><br>
                <% if invalid %>
                    <div class="small">
                        <% comic.errors.full_messages_for(:title).each do |error_message|%>
                            <%= error_message %>
                        <% end %>
                    </div>
                <% end %>
            </div>

            <div class = "text-center">
                <h4>Front Cover Page</h4>
                <%= form.file_field :cover_file %><br><br>
                <h4>Comic Pages</h4>
                <%= form.file_field :comic_file, multiple: true  %><br><br>
                <%= form.submit "Publish" %>
            </div>  
        <% end %><br>
    </div>
</div>
