<h1 class="text-center">Comic Nook</h1>
<h4 class="text-center text-body">Created by The Comic Commits</h4>
<nav class="navbar navbar-dark bg-dark nav-fill nav-justified">

    <span class="navbar-brand" style="color:rgb(255, 165, 0)">Comic Commit</span>
    <a class="nav-link" href="profile">Profile</a>
    <a class="nav-link" href="discover">Discover</a>
    <a class="nav-link" href="#">Review</a>
    <a class="nav-link" href="#">Forum</a>
    <%= form_with url: user_search_path, method: :get, local: true do |form| %>
      <div class="input-group">  
        <%= search_field_tag :search, params[:search], placeholder: "Search for Users", class: "form-control" %>  
        <div class="input-group-btn">  
          <%= button_tag "Search", :class => 'btn btn-info glyphicon glyphicon-search',:name => nil%>  
        </div>  
      </div>
    <%end%>
    
    <% if logged_in? %>
       <div class="dropdown">
        <a class="nav-link dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <%= current_user.username %>
        </a>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
          <% if current_user.group=='admin' %>
            <a class="dropdown-item" href="promote">Requests</a>
          <% elsif current_user.group=='creator' %>
            <a class="dropdown-item" href="comic">Comic</a>
          <% elsif current_user.group=='critic' %>
            <a class="dropdown-item" href="#">Review</a>
          <% else %>  
            <a class="dropdown-item" href="upgrade">Upgrade</a>
          <% end %>
          <a class="dropdown-item" href="setting">Setting</a>
        </div>
      </div>

  <%= button_to "Logout", destroy_path, {class:'btn btn-danger'}  %>
    <% else %>
      <a class="nav-link" href="register">Sign Up</a>
      <a class="nav-link" href="login">Login</a>
    <%end%>  

</nav>

<div class="container">
  <div class="row justify-content-center">
    <div class="text-center">
    <h3> Highest Rated Comic </h3>
    <%= image_tag "Mutiny.png", height: 300 %>
    <h2 >Why Comic Nook?</h2>
    <h4 class="text-center">Fans may:</h4>

    <ul class="text-center">
      <li>Browse Comics by genre, rating, creator, and more</li>
      <li>Read Comics</li>
      <li>Discuss your favorite comics in the Comic Nook forums</li>
      <li>Rate Comics and see how others rated them</li>
    </ul>

    <p>
    In addition to the fan account, register a creator or critic account to get these features:
    </p>
    <ul>
      <li><b>Critics</b></li>
      <ul>
        <li>Post recommended comics on your profile page</li>
        <li>Ratings will be included in critic rating</li>
      </ul>
      <li><b>Creators</b></li>
      <ul>
        <li>Create and Upload your own Comics!</li>
      </ul>
    </ul>
  </div>
</div>
