<center>
<h1>Listing reviews</h1>

<nav class="navbar navbar-dark bg-dark nav-fill nav-justified">

    <span class="navbar-brand" style="color:rgb(255, 165, 0)">Comic Commit</span>

    <a class="nav-link" href="profile">Profile</a>

    <a class="nav-link" href="#">Discover</a>

    <a class="nav-link" href="#">Review</a>

    <a class="nav-link" href="http://localhost:3000/reviews">Forum</a>

    <form class="form-inline">

      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">

      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>

    </form>
    <% if logged_in? %>
       <div class="dropdown">
        <a class="nav-link dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <%= current_user.username %>
        </a>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
          <% if current_user.group=='admin' %>
            <a class="dropdown-item" href="promote">Requests</a>
          <% elsif current_user.group=='creator' %>
            <a class="dropdown-item" href="#">Comic</a>
          <% elsif current_user.group=='critic' %>
            <a class="dropdown-item" href="#">Review</a>
          <% else %>  
            <a class="dropdown-item" href="upgrade">Upgrade</a>
          <% end %>
          <a class="dropdown-item" href="setting">Setting</a>
        </div>
      </div>

  <%= button_to "Logout", destroy_path, {class:'btn btn-danger'}  %>
    <% else %>
      <a class="nav-link" href="register">Sign Up</a>
      <a class="nav-link" href="login">Login</a>
    <%end%>  
</nav>

<%= link_to 'New review', new_review_path %>
<table>
  <tr>
    <th>Title</th>
    <th>Text</th>
    <th></th>
  </tr>
  
 
  <% @reviews.each do |review| %>
    <tr>
      <td><%= review.title %></td>
      <td><%= review.text %></td>
      <td><%= link_to 'Show', review_path(review) %></td>
    </tr>
  <% end %>
</table>

</center>